@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    min-height: 100vh;
    /* align-items: center;
    justify-content: center; */
    background: #151515;
    background: url(https://wallpapercave.com/wp/wp4789300.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.nav {
    width: 80%;
    height: 85px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 150px;
    background: #010730;
    display: flex;
    justify-content: center;

}

.main-nav {
    width: 100%;
    height: 100vh;
    background: #151515;
    background: url(https://wallpapercave.com/wp/wp4789300.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;

}

.opt a {
    text-decoration: none;
    color: white;

}

.opt a:hover {
    text-decoration: underline;
    color: orange;
}

.opt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}

.opt li {
    list-style: none;
    font-size: 20px;
    color: #fff;
}
.last {
    width: 200px;
    display: flex;
    justify-content: end;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: relative;
}

.header {
    width: 80%;
    margin: 0 auto;
    top: 0;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 25px;
    width: 25px;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.conteudo {
    width: 400px;
    padding: 20px 30px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.conteudo .texto {
    color: black;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}

.input_login {
    text-align: center;
}

button{
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
button:hover {
    background-color: blue;
    color: white;
    
}

.formulariO button {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #ed924c;
    width: 120px;
    align-self: center;
    margin-top: 5px;
}

.formulariO input {
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    margin: 0;
}


.resposta {
    font-size: 10px;
    font-weight: bold;
    color: red;
    margin: 5px 0px 5px 0px;
}

.inicio {
    display: flex;
    align-items: start;
}

p {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.molde {
    margin: 10px;
    display: flex;
    align-items: center;
}

.info {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 14px;
}


.img1 {
    max-width: 100%;
}


.content {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.inicio img {
    max-width: 100%;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.molde {
    margin: 10px;
    display: flex;
    align-items: center;
}

.info {
    margin-left: 20px;
    padding: 10px 20px;
    background: #ed924c;
    border-radius: 10px;
}

.img1 {
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    color: #fff;
}

/* QUIZ */
.ninja {
    margin: 5px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.card1 {

    background-color: white;
    width: 300px;
    text-align: center;
    border: 5px solid black;
    padding: 20px 50px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.403);
    margin: 0 auto;
}

.mensagem {
    margin: 0 auto;
    text-align: center;
}


.wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-self: center;

}

.card {
    width: 300px;
    height: 360px;
    background: #fff;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(178, 75, 75, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}



